<header class="header-container">
  <div class="header-container-logo">
    <a href="#" class="header-container-logo-link">
      <span class="header-container-logo-link-red">G</span>-<span class="header-container-logo-link-red">FLIX</span>
    </a>
  </div>
  <nav class="header-container-navigation">
    <ul>
      <li><a href="#" class="header-container-navigation-link">Home</a></li>
      <li><a href="#" class="header-container-navigation-link">Movies</a></li>
      <li><a href="#" class="header-container-navigation-link">TV Shows</a></li>
      <li><a href="#" class="header-container-navigation-link">Genres</a></li>
    </ul>
  </nav>
</header>
