<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img src="https://cdn.wallpapersafari.com/44/41/mjbkxM.jpg" alt="The lord">
    </div>
    <div class="slide-pane">
      <h2 class="title">Slider Title</h2>
      <div class="meta mb-4">
        <div class="rating mb-1">
          <i>star-icon</i>
          <span>9.8</span>
          <span>/10</span>
        </div>
      </div>
      <div class="votes mb-1">
        <i>vote-icon</i>
        <span>456</span>
      </div>
      <div class="release-date">
        20.06.2024
      </div>
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sint deleniti similique harum quidem laborum ad. Eum illo, quidem corrupti dolorum amet, veniam pariatur ducimus autem recusandae reiciendis distinctio porro?
    </div>
  </div>
</div>
